emacs24dotfiles/.emacs.d/.smex-items
emacs24dotfiles/.emacs.d/ac-comphist.dat
emacs24dotfiles/.emacs.d/backups/
emacs24dotfiles/.emacs.d/elpa/
emacs24dotfiles/.emacs.d/places
emacs24dotfiles/.emacs.d/swank/
emacs24dotfiles/.emacs.d/url/